.content= question.content
.tags.badges
  each tag in question.tags
    span.badge.badge-phill.badge-secondary= tag
    | 
.row
  .col-sm
    .numbers.
      #[span.number.num-likes= question.numLikes] 좋아요,
      #[span.number.num-answers= question.numAnswers] 댓글,
      #[span.number.num-reads= question.numReads] 조회
  .col-sm
    .author
      | 작성 #{moment(question.createdAt).format('YYYY-MM-DD')}
      if question.author
        | 
        | by #[a(href=`/users/${question.author.id}`)= question.author.name] 
