extends ../layout

block content
  .container
    h1.main-title 투어 상품 수정하기
    form(action=`/questions/${question.id}`, method="POST")
      input(type="hidden", name="_method", value="PUT")
      include _form
      button.btn.btn-outline-primary(type="submit") 수정완료
