extends ../layout

block content
  .container
    h1.main-title 투어 상품 등록
    form(action="/questions", method="POST")
      include _form
      button.btn.btn-outline-primary(type="submit") 투어 상품 등록 완료하기

    