extends layout

block hero-unit
  .jumbotron
    .container
    #jumbotron_content
      h1 어디로 떠나세요?
      form.form-inline.my-2.my-lg-0
      input.form-control.mr-sm-2(type="text" placeholder="여행지나 상품을 검색해보세요!" aria-label="Search")
      button.btn.btn-light(type="submit") 검색하기
      
      
block content
  .container5
  .row
    .col-sm-4
      .card
        img(src='/images/france.jpg', alt='')
        .card-body
          h5.card-title 프랑스
    .col-sm-4
      .card
        img(src='/images/taipei.jpg', alt='')
        .card-body
          h5.card-title 타이베이
    .col-sm-4
      .card
        img(src='/images/singapore.jpg', alt='')
        .card-body
          h5.card-title 싱가포르            
    
        
  .container
    .row
      .col-md-6
        h3 마이리얼트립의 여행정보
        p 투어 상품을 등록하고 구매해보세요!
      .col-md-6
        h3 마이리얼트립의 기능
        ul
          li 투어상품 등록/보기/변경/삭제
          li 댓글 등록/삭제
          li 가이드 관리/인증
          

